<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508673418266-33aebjpi6bjabbouoj9c1vr4udm9744b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508673418266-33aebjpi6bjabbouoj9c1vr4udm9744b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>508673418266-991ghhsujbp2h1dgmb321gfsl1vauh73.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEuC7TizFk04VUtXAVFyQ1Z6RV7mel6X0</string>
	<key>GCM_SENDER_ID</key>
	<string>508673418266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanivian.connect</string>
	<key>PROJECT_ID</key>
	<string>connect-on-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-on-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508673418266:ios:ec2b8bd506348cc356dda3</string>
</dict>
</plist>